*{
    margin: 0;
}

body{
    overflow-x: hidden;
}

a{
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header{

    #navbar-inicio{
        a{
            color: black;
            &:hover{
                color: red;
            }
        }
    }

    .busqueda-logo {
        display: flex;
        align-items: center; // alinea verticalmente los hijos
        gap: 20px; // espacio entre imagen e input
        padding: 10px 20px;
        margin-top: -50px;
    }

    img{
        width: 250px;
        height: 150px;
        border-radius: 2px;
    }

    .container-input{
        position: relative;
        left: 400px;
        bottom: 25px;

        input{
            width: 500px;
            padding: 10px;
            padding-right: 35px;
            border-radius:5px;
            border: 1px solid gray;
            outline: none;
        }

        button{
            background-color: red;
            padding: 10px 15px;
            border: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            border-radius: 0 5px 5px 0;
            color: white;
        }
    }

    #navbar-categorias{
        background-color: red;
        .container-fluid{
            .navbar-toggler{
                .navbar-toggler-icon{
                    filter: brightness(0) invert(1);
                }
            }
        }
        a{
            color: white;
        }
        .dropdown-item{
            color: black;
        }
    }

    .nav-item a{
        color: black;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }


}

.login-register-wrapper {
  min-height: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boton-acceder{
    display: inline-block;
    font-size: 1rem;
    padding: 2px 40px;
    line-height: 3rem;
    border: solid 2px black;
    border-radius: 40px;
    background-color: rgb(54, 54, 163);
    cursor: pointer;
}

.login-form-container{
    border: 1px solid gray;
    border-radius: 2px;
}

footer{
    background-color: red;
    h6{
        color: white;
    }
    p{
        color: white;
    }
}