@use "variables";

*{
    margin: 0;
}

body{
    overflow-x: hidden;
}



header{

    #navbar-inicio{
        a{
            color: variables.$secondary-color;
            &:hover{
                color: variables.$primary-color;
            }
        }
    }


    .busqueda-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        gap: 15px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        img {
            width: 180px;
            height: auto;
        }
    }

    .container-input {
    width: 100%;
    max-width: 500px;
    display: flex;


        input {
            flex: 1;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            border: 1px solid gray;
            outline: none;
        }

        button {
            background-color: variables.$primary-color;
            padding: 0 20px;
            border: none;
            border-radius: 0 5px 5px 0;
            color: variables.$extra-color;
        }
    }

    #navbar-categorias{
        background-color: variables.$primary-color;
        .container-fluid{
            .navbar-toggler{
                .navbar-toggler-icon{
                    filter: brightness(0) invert(1);
                }
                
            }
        }
        a{
            color: white;
        }
        .dropdown-item{
            color: variables.$secondary-color;
        }
    }

    .nav-item a{
        color: variables.$secondary-color;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }


}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: 2rem;

  .row {
    gap: 2rem 0;
  }

  .contenedor-producto {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    height: 100%;

    .boton-comprar {
      display: inline-block;
      font-size: 1rem;
      padding: 2px 40px;
      line-height: 3rem;
      border: solid 2px variables.$secondary-color;
      border-radius: 40px;
      background-color: variables.$primary-color;
      cursor: pointer;
      color: variables.$extra-color;
      text-decoration: none;
      transition: transform 0.6s ease-in-out;

      &.girando {
        animation: girar 0.6s ease-in-out;
      }
    }
  }
}


footer{
    background-color: variables.$primary-color;
    h6{
        color: variables.$extra-color;
    }
    p{
        color: variables.$extra-color;
    }
}

